
.Appwrap {
  color: #333;
  border: 1px solid #e6ebed;
  border-radius: 2px;
  background: white;
  margin: 1em;
  padding: 0 1em;
  min-width: 38em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.08);
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC",
     "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", 
     "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

   

 .Appwrap:before, .Appwrap:after {
   
    content: '';
    position: absolute;
    z-index: 1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    bottom:-20px;
}
 .Appwrap:after {
    left: 0;
    right: 0;
    bottom: -4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Appwrap:before {
    left: 2px;
    right: 2px;
    bottom: -6.6px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
h1{
  color:#444;
}
.todostitle{
  font-size: 100px;
  text-align: center;
  color:#EAD7D7;
  margin-bottom: 0.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.username{
  position: absolute;
  top:-30px;
  right:10px;
  color:#E57E7E;
  font-size: 1.2em;
}
.Appwrap button{
  margin-left:0.8em;
  font-size: 0.7em;
  color:#bbb;
}
.inputWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

#signOut{
  border-radius: 10px;
  background: #E5ADAD;
  color:white;
  width:4.7em;
  cursor: pointer;
}
.welcome{
  margin-right:0.5em;
  font-size: 0.8em;
  color:#ccc;
}