.forgotPassword h3{
    border:none;
    margin-top:0.86em;
    margin-bottom: 0.4em;
    margin-left:1.4em;
    color:#888;
    font-size: 1.2em;
}

.forgotPassword input{
    border:none;
    margin-bottom: 1em;
    border-bottom: 1px solid #999;
    outline: none;
    margin-left:1.9em;
    min-width: 16em;
    min-height: 2.2em;

}
.forgotPassword input::-webkit-input-placeholder{
  color:#DEDEDE;
}
.forgotPassword .submit{
    font-size: 1.2em;
    color:#E09898;
    margin-left:1.6em;
    cursor: pointer;
    margin-bottom: 0.6em;
}
.forgotPassword .submit:hover{
color:#DE5252;
}
.forgotPassword a{
    margin-left:3.6em;
    color:#B7B7B7;
    font-size: 0.8em;
}