.TodoInput{
   width: 90%;
   font-size: 20px;
   border: none;
   margin:1em;
   outline: none;
   vertical-align:middle;
   

 }
.TodoInput::-webkit-input-placeholder { 
  color:#E9E6E6; 
  font-size: 1.2em;
  font-style: italic;
  }