.TodoItem{
   padding: .5em;
   padding-top:0.8em;
   padding-bottom:0.8em;
   display: flex;
   align-items: center;
   font-family: 'Lucida Grande', Verdana, sans-serif;
   border-bottom:1px solid #e6ebed;
   position: relative;
 }
.TodoItem:before {
    content: '';
    width: 6px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
}
 .TodoItem>.title{
   flex-grow: 1;
   padding: 0 .5em;
   color:#8B8F97;
   font-size: 20px;
   margin-left:40px;
 }
  .TodoItem>.complete{
    margin-right:0.5em;
  }

.toggle {
    display: block;
	  height: 35px;
  	width: 35px;
    position: absolute;
    top: 6px;
    bottom: 0px;
    left: 0px;
    text-indent: 100%;
    overflow: hidden;
	  cursor: pointer;
}


.toggle:before{
    content: '';
    width: 15px;
    height: 15px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 7px;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    -moz-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
  }
.hook{
    content: '';
    position: absolute;
    width: 9px;
    height: 4px;
    background: transparent;
    top: 15px;
    left: 10px;
    border: 2px solid #aaa;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity:0;
  }
  input[type=checkbox] {
    display: none;
}

  input[type=checkbox]:checked+.hook{
	opacity:1; 

}

.TodoItem:hover #btn{
  opacity: 1;
}
.toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    -moz-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
}
.toggle:before,.toggle:active:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

button{
  background: white;
  border:none;
  color:#d1d1d1;
  outline: none;
  font-size: 14px;
  margin-left:2px;
  margin-bottom: 6px;
}
.complete{
  color:#8B8F97;
}
.green{
  color:#3BD17C;
}
.red{
  color:#E56262;
}
#btn{
  opacity: 0;
  font-size: 1.16em;
  cursor: pointer;
}
